@media (min-width: 768px) {

    .nav-menu {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .spotlight-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 641px) {
    .card {
        padding: 1rem;
    }

    main h1 {
        font-size: 2rem;
    }
}