@media (min-width: 768px) {

    .nav-menu {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .spotlight-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1025px) {
    .discover-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "card1 card2 card3 card4"
            "card5 card6 card7 card8";
    }
}