@media (min-width: 768px) {

    .nav-menu {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .spotlight-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}