@media (min-width:768px) {

    nav {
        display: block;
    }

    #menuButton {
        display: none;
    }

    nav ul {
        display: flex;
        gap: 2rem;
    }

    #courses {
        grid-template-columns: repeat(3, 1fr);
    }

}