@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}